header{
    position: absolute;
width: 1024px;
height: 20px;
left: calc(50% - 1024px/2);
top: 0px;

background: #222222
}       
#primero{ 
position: absolute;
    width: 138px;
    height: 12px;
    left: calc(50% - 138px/2 - 353px);
    top: 4px;
    
    font-family: 'Roboto', sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #F3F3F3;
}
#Español{
    position: absolute;
width: 36px;
height: 12px;
left: calc(50% - 36px/2 + 388px);
top: 4px;

font-family: 'Roboto', sans-serif;

font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
/* identical to box height */


color: #F3F3F3;
}
#ARG{
    position: absolute;
width: 26px;
height: 12px;
left: calc(50% - 26px/2 + 439px);
top: 4px;

font-family: 'Roboto', sans-serif;

font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
/* identical to box height */


color: #F3F3F3;

}
#Vector{
    position: absolute;
width: 5.5px;
height: 2.75px;
left: calc(50% - 5.5px/2 + 411.25px);
top: 9px;

border: 1px solid #F3F3F3;
}
#Vector2{
    position: absolute;
width: 5.5px;
height: 2.75px;
left: calc(50% - 5.5px/2 + 457.25px);
top: 9px;

border: 1px solid #F3F3F3;
}
#Rectangle3{
    position: absolute;
width: 1024px;
height: 62px;
left: calc(50% - 1024px/2);
top: 20px;

background: #F0A83E;
}
#Front{
    position: absolute;
width: 57.21px;
height: 23px;
left: calc(50% - 57.21px/2 - 425.4px);
top: 39px;
font-family: 'Roboto', sans-serif;

font-style: bold;
font-weight: 700;
font-size: 20px;
line-height: 23px;

color: #3C2313;
}
#Dog{
    position: absolute;
width: 96.35px;
height: 23px;
left: calc(50% - 96.35px/2 - 356.82px);
top: 39px;

font-family: 'Roboto',sans-serif;
font-style: bold;
font-weight: 700;
font-size: 20px;
line-height: 23px;

color: #FFFFFF;
}


#Categorias{
    position: absolute;
width: 64px;
height: 14px;
left: calc(50% - 64px/2 + 177px);
top: 44px;

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;

color: #FFFFFF;
}
#Pets{
    position: absolute;
width: 27px;
height: 14px;
left: calc(50% - 27px/2 + 258.5px);
top: 44px;

font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;

color: #FFFFFF;

}
#Nosotros{
    position: absolute;
width: 54px;
height: 15px;
left: calc(50% - 54px/2 + 335px);
top: 43px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;

color: #FFFFFF;

}
#Contactanos{
    position: absolute;
width: 74px;
height: 14px;
left: calc(50% - 74px/2 + 435px);
top: 44px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400px;
font-size: 13px;
line-height: 15px;


color: #FFFFFF;
}
#Fondo{
    position: absolute;
width: 1025px;
height: 409px;
left: calc(50% - 1025px/2 + 0.5px);
top: 81px;

background: url(bowl-and-pet-daities-on-green-background.jpg);
}
#fondoblanco{
    position: absolute;
    width: 365px;
    height: 54px;
    left: 648px;
    top: 237px;
    
    background: #FFFFFF;
    border-radius: 5px;
}
#Esunplacer{
    position: absolute;
width: 345px;
height: 35px;
left: 658px;
top: 246px;

font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight:bold;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #3C2313;
}
#Comede{
    position: absolute;
width: 190px;
height: 19px;
left: 740px;
top: 303px;

font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;

color: #3C2313;
}
#cuadronaranja{
    position: absolute;
width: 141px;
height: 49px;
left: 767px;
top: 334px;

background: #F0A83E;
border-radius: 5px;
}

#Comederos1{
    position: absolute;
width: 95px;
height: 19px;
left: 790px;
top: 349px;

font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}
#Productos{
    position: absolute;
width: 406px;
height: 47px;
left: 309px;
top: 586px;

font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: bolder;
font-size: 40px;
line-height: 47px;
/* identical to box height */


color: #3C2313;

}
#Comederos2{
    position: absolute;
width: 78px;
height: 18px;
left: 380px;
top: 653px;

font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
/* identical to box height */


color: #666666;
}
#Guion1{
    position: absolute;
width: 5px;
height: 18px;
left: 471px;
top: 653px;

font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
/* identical to box height */


color: #666666;

}
#Accesorios{
    position: absolute;
width: 75px;
height: 18px;
left: 489px;
top: 653px;

font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
/* identical to box height */


color: #666666;
}
#Guion2{
    position: absolute;
width: 5px;
height: 18px;
left: 577px;
top: 653px;

font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
/* identical to box height */


color: #666666;

}
#Comida{
    position: absolute;
width: 52px;
height: 18px;
left: 595px;
top: 653px;

font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
/* identical to box height */


color: #666666;
}
.churrasco{
    text-align : center;
}
#churrasquito{
    position: absolute;
width: 265px;
height: 268.86px;
left: 95px;
top: 720px;
display:block;
margin:0px auto;

background: url(hummingbird-vector-graphics.png);

}
#JuegueteChurrasquito{
    
position: absolute;
width: 160.54px;
height: 19.64px;
left: 146.68px;
top: 988.86px;

font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;

color: #3C2313;

}
#PrecioJugueteChurrasquito{
    position: absolute;
width: 38.49px;
height: 19.64px;
left: 208.26px;
top: 1006.92px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #F0A83E;

}
#Comederos3{
align-items: center;
position: absolute;
width: 262.03px;
height: 266.86px;
left: 381.97px;
top: 720px;
display:block;
margin:0px auto;
background: url(mug-the-best-is-yet-to-come.png);
}
#ComederoPerro{
    position: absolute;
width: 159.97px;
height: 19.64px;
left: 440.41px;
top: 986.86px;

font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;

color: #3C2313;

}
#PrecioComedero{
    position: absolute;
width: 39.15px;
height: 19.64px;
left: 500.81px;
top: 1004.91px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #F0A83E;

}
#Huesito{
    position: absolute;
width: 265px;
height: 268.86px;
left: 664px;
top: 720px;
display:block;
margin:0px auto;
background: url(hummingbird-printed-t-shirt.png);
}
#JuegueteHuesito{
    position: absolute;
width: 112.37px;
height: 18.97px;
left: 739.93px;
top: 988.86px;

font-family: 'Roboto';
font-style: normal;
font-weight:bold;
font-size: 15px;
line-height: 18px;

color: #3C2313;
}
#PrecioJugueteHuesito{
    position: absolute;
width: 34.61px;
height: 18.06px;
left: 779.41px;
top: 1006.92px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #F0A83E;
}